.vscode
.DS_Store

# License issues
Vision-Based_Gaze_Estimation_A_Review.pdf
Appearance-Based_Gaze_Estimation_With_Deep_Learning_A_Review_and_Benchmark.pdf
Automatic_Gaze_Analysis_A_Survey_of_Deep_Learning_Based_Approaches.pdf
Reviews_Gaze_estimation.docx
eyediap.pdf
Gaze_Estimation_Datasets.docx
MPIIGaze_Real-World_Dataset_and_Deep_Appearance-Based_Gaze_Estimation.pdf
A Generic Framework for Evaluating Gaze Representations for Gaze Estimation.pdf
A_Differential_Approach_for_Gaze_Estimation.pdf
A_Robust_Webcam-based_Eye_Gaze_Estimation_System_for_Human-Computer_Interaction.pdf
E-Gaze_Gaze_Estimation_With_Event_Camera.pdf
Gaze_Estimation_by_Attention-Induced_Hierarchical_Variational_Auto-Encoder.pdf
Gaze_Estimation_using_Transformer.pdf
Gaze_Preserving_CycleGANs_for_Eyeglass_Removal_and_Persistent_Gaze_Estimation.pdf
GAZEATTENTIONNET_Gaze_Estimation_with_Attentions.pdf
learning to find eye region landmarks for remote gaze estimation in unconstrained settings.pdf
L2CS-Net__Fine-Grained_Gaze_Estimation_in_Unconstrained_Environments.pdf
Geometry-Aware_Appearance_Learning_for_Generalized_Gaze_Estimation.pdf
Papers Gaze estimation.docx
Towards_High_Performance_Low_Complexity_Calibration_in_Appearance_Based_Gaze_Estimation.pdf
Uncertainty_Modeling_for_Gaze_Estimation.pdf
