.vscode
.DS_Store

# License issues
Vision-Based_Gaze_Estimation_A_Review.pdf
Appearance-Based_Gaze_Estimation_With_Deep_Learning_A_Review_and_Benchmark.pdf
Automatic_Gaze_Analysis_A_Survey_of_Deep_Learning_Based_Approaches.pdf
Reviews_Gaze_estimation.docx
eyediap.pdf
Gaze_Estimation_Datasets.docx
MPIIGaze_Real-World_Dataset_and_Deep_Appearance-Based_Gaze_Estimation.pdf
A Generic Framework for Evaluating Gaze Representations for Gaze Estimation.pdf
A_Differential_Approach_for_Gaze_Estimation.pdf
A_Robust_Webcam-based_Eye_Gaze_Estimation_System_for_Human-Computer_Interaction.pdf
E-Gaze_Gaze_Estimation_With_Event_Camera.pdf
Gaze_Estimation_by_Attention-Induced_Hierarchical_Variational_Auto-Encoder.pdf
Gaze_Estimation_using_Transformer.pdf
Gaze_Preserving_CycleGANs_for_Eyeglass_Removal_and_Persistent_Gaze_Estimation.pdf
GAZEATTENTIONNET_Gaze_Estimation_with_Attentions.pdf
learning to find eye region landmarks for remote gaze estimation in unconstrained settings.pdf
L2CS-Net__Fine-Grained_Gaze_Estimation_in_Unconstrained_Environments.pdf
Geometry-Aware_Appearance_Learning_for_Generalized_Gaze_Estimation.pdf
Papers Gaze estimation.docx
Towards_High_Performance_Low_Complexity_Calibration_in_Appearance_Based_Gaze_Estimation.pdf
Uncertainty_Modeling_for_Gaze_Estimation.pdf
Self-Adaptive_Appearance-Based_Eye-Tracking_with_Online_Transfer_Learning.pdf
Saliency_Unified_A_Deep_Architecture_for_simultaneous_Eye_Fixation_Prediction_and_Salient_Object_Segmentation.pdf
Probabilistic_gaze_estimation_without_active_personal_calibration.pdf
Inferring_Salient_Objects_from_Human_Fixations.pdf
Calibration-Free_Gaze_Estimation_Using_Human_Gaze_Patterns.pdf
Appearance-Based_Gaze_Estimation_via_Uncalibrated_Gaze_Pattern_Recovery.pdf
3588015.3589204.pdf
3204493.3204572.pdf
3204493.3204552.pdf
3025453.3025950.pdf
2857491.2857515.pdf
